cluster.name: "{{ cluster_name }}"
node.name: "{{ ansible_hostname }}-{{ hostvars[inventory_hostname]['node_type'] }}"
path.data: /var/lib/opensearch
path.logs: /var/log/opensearch
network.host: 0.0.0.0
action.auto_create_index: false
plugins.security.disabled: true
indices.query.bool.max_clause_count: 32768